body {
    margin: 0;
    padding: 0;
    background: #001f3f;
    color: #5FBFFF;
    font-family: "Clear Sans", "Helvetica Neue", Arial, sans-serif;
    font-size: 18px;
	margin: 50px 0;
}
.container {
    width: 800px;
    margin: 0 auto;
}
.gameExplanation {
    line-height: 1.65;
    margin-top: 50px;
    margin-bottom: 10px;

}
.gameExplanation table{
    border: 1px solid #5FBFFF;
    border-collapse: collapse;
    width: 100%;
   
}
.gameExplanation td, th {
    border: 1px solid #5FBFFF;
    padding: 7px;
}
.gameExplanation  th {
    width:205px;
}
.clickableArea{
    position: absolute;
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; 
}
.copyright{
    margin-top: 50px;
    font-size: 12px;
}